/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-flow: row, wrap;
    width: 800px;
    margin-bottom: 30px;
}

.header img {
    display: flex;

}

nav {
    display: flex;
    justify-content: space-around;
    width: 600px;
}

.navigation a {
    display: flex;
    margin-top: 23px;
    text-decoration-line: none;
    color: black;

}

.top-img {
    margin-bottom: 20px;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Color the individual boxes by the ID */

#teal-box {
    background-color: teal;
}

#gold-box {
    background-color: gold;
}

#cadetblue-box {
    background-color: cadetblue;
}

#coral-box {
    background-color: coral;
}

#crimson-box {
    background-color: crimson;
}

#forestgreen-box {
    background-color: forestgreen;
}

#darkorchid-box {
    background-color: darkorchid;
}

#hotpink-box {
    background-color: hotpink;
}

#indigo-box {
    background-color: indigo;
}

#dodgerblue-box {
    background-color: dodgerblue;
}


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* About page code */

/* Header is the same as index.html See line 74 */

.about-top-img {
    margin-bottom: 20px;
}

.about-introduction {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px dashed black;
}

.about-middle-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Ordering the middle content with flexbox */

.about-middle-content h2 {
    margin-top: 10px;
}

.about-middle-content p {
    width: 400px;
    margin: 12px 0 12px 0;
}

.about-middle-content button {
    width: 125px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}

@keyframes change {
    from {background-color: white; color:black;}
    to {background-color: black; color:white;}
}

button:hover {
    background-color: black;
    color:white;
    animation-name: change;
    animation-duration: 0.5s;
}

.strategy {
    border-bottom: 1px dashed black;
    width: 372px;
    padding-bottom: 10px;
}

.how-we-work {
    border-bottom: 1px dashed black;
    width: 372px;
}

.places-we-work {
    border-bottom: 1px dashed black;
    margin-top: 50px;
    width: 372px;
    padding-bottom: 10px;
}

.collaboration {
    border-bottom: 1px dashed black;
    margin-top: 50px;
    width: 372px;
}

/* Ordering the bottom content */

.about-bottom-content {
    display: block;
}

.about-bottom-content h2 {
    margin-top: 30px;
}

.about-bottom-content p {
    margin-bottom: 40px;
}

/* Contact Page CSS Starts Here */

.container-contact {
    width: 800px;
    margin: 0 auto;
}

.contact-page h1 {
    font-size: 50px;
    margin: 20px 0 40px 0;
}

.name {
    font-size: 20px;
    margin-bottom: 20px;
}

#firstName {
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 12px;
    margin-bottom: 10px;
}

#lastName {
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 12px;
}

.gender {
    font-size: 20px;
    margin-bottom: 20px;
}

.email {
    font-size: 20px;
    margin-bottom: 20px;
}

#email {
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 12px;
}

textarea {
    width: 600px;
    height: 200px;
    font-size: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.submit {
    margin-top: 30px;
    margin-bottom: 50px;
}
